{% extends "base.html" %}

{% block title %}Головна{% endblock %}
{% block content %}
	<h1>Всі діти</h1>
	
	<a href="{% url 'add_child' %}"><button type="button" class="btn btn-dark add-child-btn">Зареєструвати дитину</button></a>
	<br>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Ім'я</th>
	      <th scope="col">Прізвище</th>
	      <th scope="col">Село</th>
	      <th scope="col">Клас</th>
	      <th scope="col">Батьки</th>
	      <th scope="col">Телефон батьків</th>
	      <th scope="col">Здоровя</th>
	    </tr>
	  </thead>
	  <tbody>
			{% for user in users %}
		    <tr>
		      <th scope="row">{{ user.id }}</th>
		      <td>{{ user.first_name }}</td>
		      <td>{{ user.last_name }}</td>
		      <td>{{ user.village }}</td>
		      <td>{{ user.ended_class }}</td>
		      <td>{{ user.parent_name }}</td>
		      <td>{{ user.parent_phone_number }}</td>
		      <td>{{ user.health_problems }}</td>

		    </tr>
			{% endfor %}
	  </tbody>
	</table>
{% endblock %}
